<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Aula Flask</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Hearthston Championship</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="home">Rancking do campeonato<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="personagens">Persosnagens</a>
            </li>
          </ul>
        </div>
      </nav>
<br>
    <center><h1>Pesonagens do Jogo</h1></center>
<br>
<center><table>
    <tr>
        <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Preserve o equilíbrio assumindo diversas formas selvagens e lançando a ira da natureza contra os inimigos.">
            Druida
        </button>
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Os Paladinos são temíveis cavaleiros sagrados que fazem uso de lacaios fortalecidos, feitiços de cura e Escudo Divino para rechaçar os inimigos e seguir rumo à vitória.">
            Paladino
        </button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="A Luz chama, mas as sombras sussurram. Heróis da retidão, os Sacerdotes têm um potencial inigualável de cura e podem conceder poderosos encantamentos sagrados aos seus lacaios.">
            Sacerdote
        </button>
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Usando lâminas invisíveis, velocidade incrível e venenos sutis, os Ladinos podem despachar os inimigos e depois fugir sem deixar rastros.">
            Ladino
        </button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Como praticantes das artes vis sedentos por poder, os Bruxos não têm pudor em usar maldições debilitantes, demônios descontrolados ou ondas violentas de fogo infernal.">
            Bruxo
        </button>
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Lutadores veteranos de destreza sem igual, os Guerreiros dominam um arsenal de armas e armaduras, o que os torna combatentes mortais e defensores formidáveis ao mesmo tempo.">
            Guerreiro
        </button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Use as forças destrutivas do caos contra seus inimigos encarnando o Caçador de Demônios.">
            Demônio
        </button>
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Mestres dos elementos primevos, os Xamãs manipulam as forças da natureza para convocar chuvas curativas, torrentes de lava e aliados espirituais.">
            Xamã
        </button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Nenhum outro herói sabe usar o arcano com tanta habilidade e tanto poder quanto os Magos.">
            Mago
        </button>
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Para os Caçadores, o ataque inclemente com unhas e dentes é melhor que qualquer defesa.">
            Caçador
        </button></td>
    </tr>
</table></center>
</body>
</html>